@{
    ViewData["Title"] = "My Profile";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Profile</h1>
    <p><strong>Full Name:</strong> Nguyễn Đặng Thanh Phong</p>
    <p><strong>Student ID:</strong> 2200002381</p>
    <p><strong>Birthdate:</strong> 00/00/2004</p>
    <p><strong>Email:</strong> phongnguyenfe@gmail.com</p>
    <p><strong>Hobbies:</strong> Chơi game Liên Minh Huyền Thoại</p>

</div>